<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bill</title>
</head>

<body>

    <h1>BILL</h1>

    <table border="1" width="50%">

        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>

        {% for item in cart%}
        <tr>
            <td>{{item["name"]}}</td>
            <td>{{item["quantity"]}}</td>
            <td>{{item["price"]}}</td>
        </tr>
        {% endfor %}

    </table>

    <p>Total bill amount : RS {{amount}}</p>

    <a href="{{url_for('store')}}">Continue Shopping</a>

</body>

</html>