<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
</head>

<body>

    <h1>Items in Cart</h1>

    {% for item in cart %}
    {{item["name"]}} : {{item["quantity"]}}
    {% endfor %}

    <br>

    <a href="{{url_for('store')}}">Continue Shopping</a><br>

    <a href="{{url_for('buy')}}">View Bill</a>

</body>

</html>